header {
    background-color: blue;
    width: 100wh;
    height: 150px;
    display: flex; 
    justify-content: center;
    border: solid 3px rgb(7, 7, 7);
    font-size:  100px;
    color: rgb(15, 15, 15);
    font-style: oblique;
    align-items: center;
    background-image: url(../img/himmel.jpeg);
    background-size: 100% 100%;
}

nav {
    background-color: rgb(38, 166, 252);
    height: 100px;
    display: flex; 
    justify-content: center;
    border: solid 3px black;
    align-items: center;
    font-size: 30px;
    font-style: oblique;

}
#meny1 {
    background-color: rgb(120, 110, 253);
    height: 250px;
    width: 100vh; 
    display: flex;
   justify-content: center;
   align-items: center;
    color: white;
   font-size: 30px;
   font-style: oblique;

  
}

#meny2 {
    background-color: rgb(112, 77, 209);
    height: 250px;
    width: 100vh;
    font-size: 75px; 
    align-items: center;
    color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;
    font-style: oblique;
    background-image: url(../img/smoothies\ 3.jpeg);
    background-size: 100% 100%;

}

#lador {
    display: flex;
justify-content:space-around;
border: solid 3px black;


}

#meny3 {

    background-color: rgb(155, 245, 230);
    height: 250px;
    width: 150px;
    flex: auto;
    font-size: 30px;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    padding: 10px;
}

#meny4 {

    background-color: rgb(43, 199, 139);
    height: 250px;
    width: 150px;
    flex: auto;
    font-size: 30px;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    padding: 10px;

}

#meny5 {

    background-color: rgb(8, 245, 205);
    height: 250px;
    width: 150px;
    flex: auto;
    font-size: 30px;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
    font-style: oblique;
    padding: 10px;
}

#katt {
    display: flex;
    justify-content: first baseline;
    height: auto;
    width: auto;
    border: solid 3px black;
   
}

#take {
    background-color: rgb(8, 163, 91);
    width: 100wh;
    height: 150px;
    display: flex; 
    justify-content: center;
    font-size:  100px;
    font-style: oblique;
    align-items: center;
    border: solid 3px black;

}

#social {
    background-color: rgb(8, 163, 91);
    width: 100wh;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: solid black;
}

#logo1 {
 width: 30px; 
 height: 30px;
 margin-left: 5px;


}

#logo2 { 
width: 30px;
height: 30px;
margin-left: 15px;

}

a:link {
color: black;
background-color: transparent;
text-decoration: none;

}

a:visited {
color: black;
background-color: transparent;
text-decoration: none;

}

#poppy {

    background-color: tomato;
}